@CHARSET "UTF-8";

#banner {
	position: relative;
	width: 900px;
	height: 300px;
	overflow: hidden;
	margin:0 auto;
	border-radius:10px;
	box-shadow: 2px 2px 5px #888888;
}

#banner ul {
	width: 150px;
	height: 18px;
	position: absolute;
	list-style-type: none;
	filter: Alpha(Opacity = 80);
	opacity: 0.8;
	z-index: 1002;
	margin: 0;
	padding: 0;
	bottom: 3px;
	right: 5px;
	line-height: 18px;
	text-align: center;
}

#banner ul li {
	width: 18px;
	height: 18px;
	margin: 0px 2px;
	float: left;
	display: block;
	color: #FFF;
	border: #e5eaff 1px solid;
	background: #6C6D6E;
	cursor: pointer;
}

#banner ul li.on {
	background: #900;
}

#banner ul li a {
	color: white;
}

#banner ul li a:hover {
	text-decoration: none;
}

#banner_list a {
	position: absolute;
}