@CHARSET "UTF-8";

#head {
	height: 80px;
	background-color: black;
}

#navigation {
	width: 900px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0;
}

#navigation a {
	text-decoration: none;
	line-height: 20px;
	text-align: center;
	color: white;
	font-size: 125%;
}

#navigation a:hover {
	color: #5079D9;
}

#navigation ul {
	padding: 10px 0;
	list-style: none;
}

#navigation li {
	float: left;
	padding: 0 10px;
}

#navigation #login{
	float: right;
}

#body {
	background-color: #EDEDED;
	padding-top: 50px;
}

#title {
	width: 900px;
	margin: 0 auto;
	word-wrap: break-word;
}

#user {
	width: 900px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top: 20px;
}

#user ul {
	list-style: none;
}

#icon {
	width: 60px;
	height: 60px;
	float: left;
	margin: 5px;
	border-radius:50%;
}

#name {
	font-weight: bold;
	font-size: 125%;
	color: black;
	line-height: 30px;
}

#time {
	font-style: italic;
	color: gray;
	font-size: 125%;
	line-height: 30px;
}

#detail {
	width: 900px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top: 20px;
}

#detail p {
	font-size:110%;
	text-indent: 30px;
	letter-spacing:1px;
}

#detail img {
	width: 400px;
	height: 400px;
	margin: 10px 250px;
}

#reply{
	width: 900px;
	margin: 0 auto;
	word-wrap: break-word;
}

.reply{
	width: 900px;
	margin-bottom: 20px;
}


.reply ul{
	list-style: none;
}

.ricon{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius:50%;
}

.rname {
	font-weight: bold;
	font-size: 100%;
	color: black;
	line-height: 25px;
}

.rtime {
	font-style: italic;
	color: gray;
	font-size: 100%;
	line-height: 25px;
}

.rfloor{
	float: right;
	font-size: 100%;
	line-height: 25px;
	font-weight: bold;
	background-color: blue;
	color: white;
	border-radius:3px;
	padding: 2px;
}

.rmessage{
	display:block;
	width:800px;
	font-size: 100%;
	margin: 0 auto;
}

.rhfmessage{
	display:block;
	width:800px;
	font-size: 100%;
	margin: 0 auto;
	background-color: gray;
	color: white;
}

#foot{
	text-align: center;
}

#foot a{
	color: gray;
	text-decoration: none;
}

#huifu{
	width: 900px;
	margin: 0 auto;
	word-wrap: break-word;
}

#huifu span{
	display: block;
	background-color: gray;
	margin: 5px auto;
}

#huifu textarea{
	margin: 0 auto;
	display: block;
	font-size: 125%;
}

#huifu div{
	height: 30px;
	width: 100%;
	margin: 5px auto;
}

#huifu input[type="button"]{
	width:80px;
	height:30px;
	line-height:30px;
	color:white;
	background-color: #6188DF;
	border-radius:10px;
	font-size: 100%;
	float: right;
}
