@CHARSET "UTF-8";

#bo{
  margin:0;
  background-color: #EDEDED;
}

#head {
  width:100%;
	height: 60px;
	background-color: black;
}

#navigation {
	width: 900px;
	height: 40px;
	margin: 0 auto;
	padding: 9px 0;
}

#navigation a {
	text-decoration: none;
	line-height: 20px;
	text-align: center;
	color: white;
	font-weight:bold;
}

#navigation a:hover {
	color: #008cf9;
}

#navigation ul {
	padding: 0px 0;
	list-style: none;
}

#navigation li {
	float: left;
	padding: 0 10px;
}

#body {
	
	/*
广告离标题的高度
*/
	padding-top: 10px;
	
}

#table{
  margin-top:10px;
  width:100%;
  height:auto;
}

#app{
	width: 100px;
	height: 100px;
	
}

.app{
	width: 45vw;
	height: 60vw;
	float: left;
	position: relative;
	overflow: hidden;
	border-radius:10px;
	background-color: white;
	margin: 0 6px;
	box-shadow: 2px 2px 5px #888888;
}

#app .title{
	display:block;
	line-height:26px;
	width:100%;
	text-align: center;
	font-size: 150%;
	margin: 5px 0;
}

#app .synopsis{
	display:block;
	line-height:18px;
	width:100%;
	text-align: center;
	font-size: 70%;
	color: gray;
	margin: 5px 0;
}

#app img{
	width: 150px;
	height: 150px;
	margin: 3px 3px 3px 3px;
}

#app a{
	text-decoration: none;
	color: black;
}
