@CHARSET "UTF-8";

#html{
  padding:0px;
}

#head {
	height: 80px;
	background-color: black;
}

#navigation {
	width: 900px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0;
}

#navigation a {
	text-decoration: none;
	line-height: 20px;
	text-align: center;
	color: white;
	font-size: 125%;
}

#navigation a:hover {
	color: #5079D9;
}

#navigation ul {
	padding: 10px 0;
	list-style: none;
}

#navigation li {
	float: left;
	padding: 0 10px;
}

#body {
	background-color: #EDEDED;
	padding-top: 50px;
}

#app{
	width: 900px;
	height: 265px;
	margin: 20px auto;
}

.app{
	width: 215px;
	height: 265px;
	float: left;
	position: relative;
	overflow: hidden;
	border-radius:10px;
	background-color: white;
	margin: 0 4px;
	box-shadow: 2px 2px 5px #888888;
}

#app .title{
	display:block;
	line-height:25px;
	width:100%;
	text-align: center;
	font-size: 150%;
	margin: 5px 0;
}

#app .synopsis{
	display:block;
	line-height:20px;
	width:100%;
	text-align: center;
	font-size: 75%;
	color: gray;
	margin: 5px 0;
}

#app img{
	width: 155px;
	height: 160px;
	margin: 20px 30px;
}

#app a{
	text-decoration: none;
	color: black;
}
