@CHARSET "UTF-8";

#body {
	background-color: #EDEDED;
	height: 100%;
	width:100%;
	position:fixed;
}

#navigation {
	width: 900px;
	height: 40px;
	margin: 0 auto;
}

#navigation a {
	text-decoration: none;
	line-height: 20px;
	text-align: center;
	color: black;
}

#navigation a:hover {
	color: #5079D9;
}

#navigation ul {
	padding: 10px 0;
	list-style: none;
}

#navigation li {
	float: left;
	padding: 0 5px;
}

#app{
	width: 900px;
	height: 200px;
	margin: 20px auto;
}

.app{
	width: 225px;
	height: 200px;
	float: left;
	position: relative;
}

#app .title{
	position: absolute;
	width:100%;
	text-align: center;
	top:10px;
	font-size: 150%;
}

#app .synopsis{
	position: absolute;
	width:100%;
	text-align: center;
	top:50px;
	font-size: 100%;
	color: gray;
}

#app img{
	width: 225px;
	height: 200px;
}